html,
body {
  width: 100%;
  height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1dfc4+0,deecdd+100 */
  background: #ffffff; /* Old browsers */
  /*background: -moz-linear-gradient(top, #ffffff 0%, #2dbdbd 100%); /* FF3.6-15 */
  /*background: -webkit-linear-gradient(top, #ffffff 0%,#2dbdbd 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: linear-gradient(to bottom, #ffffff 0%, #2dbdbd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-color: #10161D;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff', endColorstr='#fffff',GradientType=0 ); /* IE6-9 */
  position: fixed;
  color: white
}

.navbar {
  margin-top: -48px;
  justify-content: stretch;
  width: 102vw;
  margin-left: -15px;
  background-color: #1B2937;
  color: #c5beba ;
}

.navbar-brand {
  color: #38A1F2 !important;
}

input {
  background-color: #c5beba !important;
  border-color: #c5beba;
}

.select-navbar {
  width: 200px; 
}

.nav-link {
  color: #c5beba !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box {
  background-image: url("/oval-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 717px;
  height: 458px;
  padding: 20px;
  padding: 40px 50px;
  position: relative;
}

.box h3 {
  color: #638165;
  font-weight: 400;
}

.box p {
  font-weight: 100;
}

.box .btn {
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  max-width: 200px;
  width: 100%;
}

.box .btn-green {
  background-color: #c1dfc4;
  border-color: #c1dfc4;
  color: #638165;
}

.box .btn-white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #638165;
}

.box .col-6 + .col-6 {
  padding-left: 80px;
}

.box small {
  font-weight: 100;
  line-height: 1;
}

.box .form-group label {
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 1px;
}

.box .form-group input,
.box .form-group select {
  background-color: #f1f1f1f1;
  border-color: #f1f1f1f1;
  border-radius: 3px;
  height: 35px;
  font-size: 15px;
}

.box img,
.box .avatar {
  max-width: 200px;
  width: 100%;
}

.box input[type="file"] {
  display: none;
}

.box .form-group {
  margin-bottom: 5px;
}

.box .btn-logout {
  position: absolute;
  right: 20px;
  top: 20px;
  color: darkred;
  cursor: pointer;
}

.modal-dialog {
  position: absolute;
  z-index: 99 !important;
  margin-left: 31%;
  width: 500px;
  display: flex;
  color: black
}

.modal-content {
  /* background-color: #1B2937 */
}

.textbox {
  height: 100px;
  width: 100%;
  margin-right: 50px;
}

.dropdown-btn {
  margin-bottom: 20px;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: scroll;
}

.newpick-btn {
  margin-right: 50px;
  color: #15202B !important;
  background-color: #38A1F2;
  border-color:#38A1F2;
}

.twPc-div {
  background: #15202B none repeat scroll 0 0;
  border-radius: 2px;
  height: 200px;
  max-width: 340px;
  margin-top: 0px;
}
.twPc-bg {
  background-color: grey;
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 2px;
  height: 95px;
  width: 100%;
}
.twPc-block {
  display: block !important;
}
.twPc-button {
  margin: -35px -10px 0;
  text-align: right;
  width: 100%;
}

.profile-username {
  color: #38A1F2
}

.twPc-avatarLink {
  background-color: #c5beba;
  border-radius: 50%;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  height: 72px;
  width: 72px;
  padding: 1px;
  vertical-align: bottom;
}
.twPc-avatarImg {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.twPc-divUser {
  margin: 5px 0 0;
}
.twPc-divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.twPc-divName a {
  color: inherit !important;
}
.twPc-divStats {
  margin-left: 11px;
  padding: 10px 0;
}
.twPc-Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.twPc-Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.twPc-ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
  text-decoration: none;
}
.twPc-StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
  color: #38A1F2;
}
.twPc-StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

.home {
  background: #ffffff; /* Old browsers */
  /*background: /*-moz-linear-gradient(top, #ffffff 0%, #2dbdbd 100%); /* FF3.6-15 */
  /*background: /*-webkit-linear-gradient(top, #ffffff 0%,#2dbdbd 100%); /* Chrome10-25,Safari5.1-6 */
  /*background: /*linear-gradient(to bottom, #ffffff 0%,#2dbdbd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-color: #10161D;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffff', endColorstr='#fffff',GradientType=0 ); /* IE6-9 */
}

.hotstocks {
  height: 500px;
  width: 325px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  border: 1px solid #38444D
}

.hotstocks-title {
 margin-left: 90px;
  color: #38A1F2
 
}

.coldstocks {
  height: 500px;
  width: 325px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  border: 1px solid #38444D
}

.recommended {
  height: 200px;
  width: 325px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-base-color: #15202B;
  display: flex;
  justify-content: space-around;
  border: 1px solid #38444D  
  
}

.recommended-card {
  width: 300px;
  height: 70px;
  border: 1px solid #38444D;
  border-radius: 2px;
  margin-top: 10px;
  padding: 5px;
}

.recommended-card h6 {
  color:#38A1F2
}

.recommended-card button {
  background-color:#38A1F2;
  border-color: #38A1F2;
  border-radius: 3px;
}

.recommended-list {
  margin-right: 40px;
}


.profile-snippet {
  height: 200px;
  width: 325px;
  margin-top: 10px;
  background-color: #15202B;
  border: 1px solid #38444D
}

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.left-column {
  height: 1000px;
  width: 340px;
  order: 1;
}

.center-column {
  height: 100vh;
  padding-bottom: 78px;
  width: 680px;
  order: 2;
  margin-left: 10px;
  margin-right: 10px;
  overflow: scroll;
  scrollbar-base-color: #15202B;


}

.center-column-container {
  height: 100vh;
  width: 680px;
  order: 2;
  /* overflow: scroll; */
  scrollbar-base-color: #15202B;

}

.right-column {
  height: 1000px;
  width: 340px;
  
  order: 3;
}

.pick-snippet {
  height: 200px;
  width: 640px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  border: 1px solid #38444D
}

.stock-snippet {
  height: 200px;
  width: 640px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  border: 1px solid #38444D
}

.rank-snippet {
  height: 200px;
  width: 640px;
  margin-top: 10px;
  background-color: #15202B;
  border-radius: 2px;
  border: 1px solid #38444D
}

.thumbnail {
  width: 100%;
  height: 250px;
  border: 2px solid black;
  display: flex;
}

.profile-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.profile-left {
  order: 1;
  width: 340px;
  height: 250px;
  border: 2px solid black;
}
.profile-center {
  order: 2;
  width: 680px;
  height: 1000px;
  margin-left: 10px;
}
.profile-right {
  order: 3;
  width: 340px;
  height: 250px;
}

.profile-avatar {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 20px;
  margin-top: 100px;
}

.thumbnail-button {
  height: 30px;
  width: 100px;
  margin-top: 170px;
}

.avatar {
  border-radius: 50%;
  border: none;
  height: 120px;
  width: 120px;
}



.btn-follow {
  display: inline;
}

.login {
  display: flex;
  height: 100%;
  width: 100vw;
  margin-top: -49px;
}

.right-login {
  height: 800px;
  width: 50vw;
}

.left-login {
  height: 800px;
  width: 50%;
  margin-left: -15px;
  background-image: url("../src/public/background.jpg");
}

.login-form {
  width: 40vw;
  margin-left: 30px;
  padding: 10px;
  background-color: #15202B;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 70px;
}

.login-form input {
  width: 90%;
  border-color: #113743;
}

.btn-login {
  background-color: #113743;
  color: white;
}

.login h4 {
  color: #113743;
}

.register-form {
  width: 40vw;
  margin-left: 30px;
  padding: 10px;
  background-color: #15202B;
  border-radius: 2px;
  margin-top: 20px;
  margin-left: 70px;
}

.register-form input {
  width: 90%;
  border-color: #113743;
}

.register-form h4 {
  color: #113743;
}

.register-form button {
  background-color: #113743;
  color: white;
}

.pick-snippet {
  display: flex;
  border: 1px solid #38444D
}

.pick-snippet-pic {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.pick-snippet-username {
  height: 25px;
  width: 200px;
  margin-left: 2px;
  margin-top: 5px;
  font-size: 15px;
  color: #38A1F2
}

.pick-snippet-text {
  border: 0.5px solid #38444D;
  border-radius: 2px;
  width: 600px;
  height: 100px;
  margin-top: 80px;
  margin-left: 8px;
  position: absolute;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-base-color: #15202B;
  padding: 2px
}

.pick-snippet-stock {
  height: 25px;
  width: 200px;
  margin-left: 8px;
  margin-top: 52px;
  position: absolute;
  font-size: 15px;
}
.pick-snippet-date {
  height: 25px;
  width: 200px;
  margin-left: 208px;
  margin-top: 52px;
  position: absolute;
  font-size: 15px;
}
.pick-snippet-action {
  height: 25px;
  width: 200px;
  margin-left: 408px;
  margin-top: 52px;
  position: absolute;
  font-size: 15px;
}

.hotstock {
  border: 1px solid #38444D;
  border-radius: 7px;
  width: 300px;
  height: 80px;
  margin-left: 10px;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.stock {
  border: 1px solid #38444D;
  border-radius: 7px;
  width: 140px;
  height: 33px;
  margin-top: 3px;
}

.pick-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

i {
  color: #38A1F2
}

@media only screen and (max-width: 600px) {
  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  position: relative;
}

.navbar {
  width: 104vw;
  justify-content: space-between
}

.navbar-toggler {
  background-color: #10161D;
  border-color: #38444D;
  margin-left: 50%;
}

.navbar input {
  margin: 10px
}

.container-fluid {
  width: 100%
}

.col-12 {
  width: 100%
}
  
  .hotstocks {
    display: none
  }
  
  .coldstocks {
    display: none
  }
  
  .recommended {
    display: none
    
  }
  
  .recommended-card {
    display: none
  }
  
  
  .profile-snippet {
    display: none
  }
  
  .columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .left-column {
   display: none
  }
  
  .center-column {
    height: 1000px;
    width: 100vw;
    order: 2;
    overflow: scroll;
    scrollbar-base-color: #15202B;
  
  
  }
  
  .center-column-container {
    height: 1000px;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: block;
    scrollbar-base-color: #15202B;
  
  }
  
  .right-column {
    display: none
  }
  
  .pick-snippet {
    height: 150px;
    width: 95vw;
    margin-top: 10px;
    background-color: #15202B;
    border-radius: 2px;
    padding: 5px;
    position: relative;
    border: 1px solid #38444D;
    font-size: 10px;
  }
  
  .stock-snippet {
    height: 120px;
    width: 95vw;
    margin-top: 10px;
    background-color: #15202B;
    border-radius: 2px;
    border: 1px solid #38444D
  }
  
  .rank-snippet {
    height: 150px;
    width: 95vw;
    margin-top: 10px;
    background-color: #15202B;
    border-radius: 2px;
    border: 1px solid #38444D
  }
  
  .thumbnail {
    width: 100%;
    height: 250px;
    border: 2px solid black;
    display: flex;
  }
  
  .profile-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .profile-left {
    order: 1;
    width: 340px;
    height: 250px;
    border: 2px solid black;
  }
  .profile-center {
    order: 2;
    width: 680px;
    height: 1000px;
    margin-left: 10px;
  }
  .profile-right {
    order: 3;
    width: 340px;
    height: 250px;
  }
  
  .profile-avatar {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    margin: 20px;
    margin-top: 100px;
  }
  
  .thumbnail-button {
    height: 30px;
    width: 100px;
    margin-top: 170px;
  }
  
  .avatar {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
  }
  
  
  
  .btn-follow {
    display: inline;
  }
  
  .login {
    display: flex;
    height: 100%;
    width: 102%;
    margin-top: -49px;
  }
  
  .right-login {
    height: 800px;
    width: 50%;
  }
  
  .left-login {
    height: 800px;
    width: 50%;
    margin-left: -15px;
    background-image: url("../src/public/background.jpg");
  }
  
  .login-form {
    width: 50%;
    margin-left: 30px;
    padding: 10px;
    background-color: #15202B;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 70px;
  }
  
  .login-form input {
    width: 90%;
    border-color: #113743;
  }
  
  .btn-login {
    background-color: #113743;
    color: #15202B;
  }
  
  .login h4 {
    color: #113743;
  }
  
  .register-form {
    width: 50%;
    margin-left: 30px;
    padding: 10px;
    background-color: #15202B;
    border-radius: 2px;
    margin-top: 20px;
    margin-left: 70px;
  }
  
  .register-form input {
    width: 90%;
    border-color: #113743;
  }
  
  .register-form h4 {
    color: #113743;
  }
  
  .register-form button {
    background-color: #113743;
    color: #15202B;
  }
  
  .pick-snippet {
    display: flex;
    border: 1px solid #38444D
  }
  
  .pick-snippet-pic {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 5px
  }
  
  .pick-snippet-username {
    height: 25px;
    width: 200px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 15px;
    color: #38A1F2
  }
  
  .pick-snippet-text {
    border: 0.5px solid #38444D;
    border-radius: 2px;
    width: 89vw;
    height: 80px;
    margin-top: 55px;
    margin-left: 5px;
    margin-right: 5px;
    position: absolute;
    overflow-y: auto;
    overflow-x: auto;
    scrollbar-base-color: #15202B;
    padding: 2px
  }
  
  .pick-snippet-stock {
    height: 25px;
    width: 200px;
    margin-left: 8px;
    margin-top: 40px;
    position: absolute;
    font-size: 10px;
  }
  .pick-snippet-date {
    height: 25px;
    width: 200px;
    margin-left: 108px;
    margin-top: 40px;
    position: absolute;
    font-size: 10px;
  }
  .pick-snippet-action {
    height: 25px;
    width: 200px;
    margin-left: 208px;
    margin-top: 40px;
    position: absolute;
    font-size: 10px;
  }
  
  .hotstock {
    border: 1px solid #38444D;
    border-radius: 7px;
    width: 300px;
    height: 80px;
    margin-left: 10px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
  }
  
  .stock {
    border: 1px solid #38444D;
    border-radius: 7px;
    width: 140px;
    height: 33px;
    margin-top: 3px;
  }
  
  .pick-avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }
  
  i {
    color: #38A1F2
  }

  .modal-dialog {
    width: 70vw;
    margin-right: 20vw
  }
}
/* 
.center-column-container {
  height: 100vh;
} */

/* .center-column {
  height: 100%;
  padding-bottom: 78px;
} */

